body{  
    background-image: url('fundoHTML.png');
    background-size: 100% auto;
    background-repeat: repeat-y;
}
.center {
    display: block;
    float: left;
    width: 33%;
    margin-left: 113px;
    margin-right: 113px;
    

    
    
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.center1{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  

div.titulo{
   text-align: center; font-size: 40px; font-style: verdana;    }

div.subtitulo{text-align: center; font-size: 35px; font-style: verdana;   }

div.escrita{text-align: justify; font-size: 28px; font-style: initial; margin: 90px;   }
    
div.links{text-align: justify; font-size: 28px; font-style: verdana; margin: 90PX; }    

div.escritalink{text-align: left;  font-size: 28px; font-style: italic; margin: 90PX; }

div.virus{ text-align: left; font-size: 28px; font-style: italic; margin: 90px; }